<ion-header>
  <ion-toolbar>
    <ion-title>Triviador!!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <h3>Categoría</h3>

    <p>
      ¿aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa?
    </p>

    <h5>Dificultad</h5>
  </div>

  <div>
     <ion-list>
       <ion-item>
        <ion-button expand="block">A block button</ion-button>
       </ion-item>
       <ion-item>
        <ion-button expand="block">A block button</ion-button>
       </ion-item>
       <ion-item>
        <ion-button expand="block">A block button</ion-button>
       </ion-item>
       <ion-item>
        <ion-button expand="block">A block button</ion-button>
       </ion-item>
     </ion-list>
  </div>
</ion-content>
